@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
  background-color: rgb(13, 13, 14);
}

.container {
  margin: 0;
  background-color: rgb(13, 13, 14);
  font-family: 'Merriweather', serif;
}

hr {
  width: 95%;
  height: 2px;
  justify-content: center;
  background-color: rgb(252, 66, 165);
}

.box title {
  font-weight: 200;
  color: rgb(1, 165, 165);
}

.box h1,
h2,
h4,
h5,
h6 {
  color: rgb(1, 165, 165);
}

h3 {
  color: rgb(252, 66, 165);
  font-weight: 300;
}

.box ul li {
  color: rgb(252, 66, 165);
  font-weight: 250;
  font-stretch: semi-expanded;
}

iframe {
  border: 4px solid rgb(248, 250, 247);
}

.foto_hotel {
  width: 575px;
  height: 402px;
  border: 4px solid rgb(248, 250, 247);
}

.foto_bikepark {
  width: 402px;
  height: 575px;
  border: 4px solid rgb(248, 250, 247);
}

.foto_voordeelkaart {
  width: 575px;
  height: 402px;
  border: 4px solid rgb(248, 250, 247);
}

a:link {
  color: rgb(252, 66, 165);
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

a:visited {
  color: rgb(252, 66, 165);
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

a:hover {
  color: rgb(64, 219, 206);
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
